<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>Add Phone Book</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div>
                <h1>Add Phone Book Master</h1>
            </div>
            <div>
            <form action="/phoneBookMasters/save" method="post">
                <input type="text" id="name" name="name" placeholder="name">
                <input type="submit">
            </form>
        </div>
    </body>
</html>