<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="${title}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div>
                <h1 th:text="${mainHeading}"/>
            </div>
            <div>
            <form action="/phoneBookMasters/delete" method="post">
                <input type="text" id="name" name="name" placeholder="name">
                <input type="submit">
            </form>
        </div>
    </body>
</html>