body {
    /*background-image: url(/images/vividBackground.jpg);*/
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=996&t=st=1690353917~exp=1690354517~hmac=b0e855f12797a9a081914544a11fb46e2d7a747cd256dc9261142abc07e70f75);
    height: 650px; /* You must set a specified height */
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.footer,.footera {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

/*h2 {
    text-decoration: underline;
}*/

div {
    text-align: center;
}

a {
    font-size: 20px;
    color: rgb(42, 33, 218);
    display: block;
    padding: 5px 12px;
    border-radius: 8px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 0.9;
    cursor: pointer;
    box-sizing: border-box;
    font-style: normal;
}

table {
    vertical-align: auto;
    width: auto;
    opacity: 0.85;
}

button {
    padding: 5px;
    margin-top: 20px;
    height: auto;
    font-size: large;
    color: white;
    background-color: blue;
    border: blue;
    border-radius: 8px;
}

.table {
    border-collapse: collapse;
    border-spacing: 2px;
    border-radius: 8px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.listButton {
    display: inline;
    margin-left: 400px;
    margin-bottom: 20px;
    height: auto;
}

.listH1 {
    display: inline;
}

.openButton {
    display: inline;
    font-size: smaller;
    background-color: green;
    margin-top: 0em;
    margin-right: 10px;
}

.editButton {
    display: inline;
    font-size: smaller;
    background-color: skyblue;
    color: black;
    margin-top: 0em;
    margin-right: 10px
}

.deleteButton {
    display: inline;
    font-size: smaller;
    background-color: red;
    margin-top: 0em;
}

.tdButton {
    text-align: right
}

.buttonForm {
    display: inline;
}