<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>Feature Not Implemented</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div>
                <h1>Feature Not Implemented</h1>
            </div>
            <div>
            <form action="/">
                <button type="submit">Go back to home page</button>
            </form>
        </div>
    </body>
</html>