<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{app.title}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{home.index.headline}" class="mb-4" />
                <h2>Main Menu</h2> 
                <table align="center">
                <td><a href="/phoneBookMasters">Open Phone Books</a></td>
                <tr></tr>
                <td><a href="/featureNotImplemented">List All Contacts</a></td>
                <tr></tr>
                <td><a href="/featureNotImplemented">Show Upcoming Birthday Reminders</a></td>
                </table>    
            </div>
    </body>
</html>